*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

.photo1{
  width: 120px;
  height: 120px;
  object-fit: contain;
  border: 1px solid #000;
}

.photo2{
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 1px solid #000;
}

.photo3{
  width: 120px;
  height: 120px;
  object-fit:fill;
  border: 1px solid #000;
}

